<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form id="settingsForm" method="post" action="/settings">

                <div class="mb-3">
                    <label for="clientId" class="form-label">Client ID</label>
                    <input type="text" class="form-control" id="clientId" name="clientId" value="{{session.clientId}}" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{session.email}}" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" value="{{session.password}}" required>
                </div>

                <div class="mb-3">
                    <label for="flow" class="form-label">Flow</label>
                    <input type="text" class="form-control" id="flow" name="flow" value="{{session.flow}}" required>
                </div>

                <div class="mb-3">
                    <label for="authServer" class="form-label">Auth Server Name</label>
                    <input type="text" class="form-control" id="authServer" name="authServer" value="{{session.authServer}}" required>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/" class="btn btn-secondary">Home</a>

            </form>
        </div>
    </div>
</div>
